.title {
    text-align: center;
}

.hidden {
    display: none;
}

.option {
    margin: 5rem 8rem;
}

.option ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.option li {
    list-style-type: none;
}

.start {
    text-align: center;
}

.scores {
    text-align: center;
}

.number {
    display: flex;
    justify-content: space-between;
    padding: 2rem 40%;
}

.legend {
    display: flex;
    justify-content: space-between;
    padding: 0 36% 2rem 39%;
}
